*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-1{
    background-color:#04c8f5;
    padding-left: 200px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
}
.nav-1 a {
    padding-left: 10px;
    color: white;
    font-weight: 20px;
    font-size: small;
}
.card-container{
padding: 1rem;
    display: flex;
    background-color:  #04c8f5;
    
}
.cards{
    background-color: rgb(255, 255, 255);
    width: 40vw;
    height: fit-content;

    border-radius: 5px;
    margin-left: 1.3rem;
    
}
.score{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;

}
.nav-2{
    background-color: #0b7cd8;
    padding-left: 200px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    display: flex;
    gap:10px;
}
.nav-2 a {
    padding-left: 10px;
    color: white;
    font-weight: 20px;
    font-size: small;
}
header {
    background-color: #333;
    color: white;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  
  nav li {
    margin: 0 10px;
  }